{
    "openapi": "3.1.0",
    "info": {
        "title": "OpenStreetMap Nominatim API",
        "version": "4.2.3",
        "description": "OpenStreetMap Nominatim API v4.2.3\n\nNeed some help?\nhttps://nominatim.org/",
        "termsOfService": "https://operations.osmfoundation.org/policies/nominatim/",
        "contact": {
            "url": "https://github.com/osm-search/Nominatim/issues"
        }
    },
    "servers": [
        {
            "url": "https://nominatim.openstreetmap.org"
        },
        {
            "url": "http://localhost:{port}",
            "variables": {
                "port": {
                    "default": "80"
                }
            }
        }
    ],
    "paths": {
        "/search": {
            "get": {
                "summary": "Look up a location from a textual description or address",
                "operationId": "search",
                "description": "Returns a list of locations.",
                "parameters": [
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "q",
                        "description": "Free-form query string to search for. Free-form queries are processed first left-to-right and then right-to-left if that fails. Commas are optional, but improve performance by reducing the complexity of the search."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "amenity",
                        "description": "Name and/or type of POI. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "street",
                        "description": "Name of street with optional housenumber. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "city",
                        "description": "Name of city. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "county",
                        "description": "Name of county. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "state",
                        "description": "Name of state. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "country",
                        "description": "Name of country. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "postalcode",
                        "description": "Postalcode. Do not combine with `q=<query>` parameter."
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json",
                                "jsonv2",
                                "geojson",
                                "geocodejson"
                            ],
                            "default": "geocodejson"
                        },
                        "in": "query",
                        "name": "format",
                        "description": "Format of response. See [Place Output Formats](https://nominatim.org/release-docs/develop/api/Output/) for details on each format. If not specified, it is equal to `jsonv2`."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "json_callback",
                        "description": "Wrap JSON output in a callback function (JSONP) i.e. <string>(<json>). Only has an effect for JSON output formats."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0,
                            "default": 1
                        },
                        "in": "query",
                        "name": "addressdetails",
                        "description": "Include a breakdown of the address into elements."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "extratags",
                        "description": "Include additional information in the result if available, e.g. wikipedia link, opening hours."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "namedetails",
                        "description": "Include a list of alternative names in the results. These may include language variants, references, operator and brand."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "accept-language",
                        "description": "Preferred language order for showing search results, overrides the value specified in the [Accept-Language HTTP header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language). Either use a standard RFC2616 accept-language string or a simple comma-separated list of language codes."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "countrycodes",
                        "description": "Limit search results to one or more countries. `<countrycode>` must be the [ISO 3166-1alpha2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) code. Each place in Nominatim is assigned to one country code based on OSM country boundaries. In rare cases a place may not be in any country at all, for example, in international waters."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "exclude_place_ids",
                        "description": "If you do not want certain OSM objects to appear in the search result, give a comma separated list of the `place_ids` you want to skip. This can be used to retrieve additional search results. For example, if a previous query only returned a few results, then including those here would cause the search to return other, less accurate, matches (if possible)."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 50,
                            "minimum": 1
                        },
                        "in": "query",
                        "name": "limit",
                        "description": "Limit the number of returned results."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "viewbox",
                        "description": "The preferred area to find search results. Any two corner points of the box are accepted as long as they span a real box. In `viewbox=<x1>,<y1>,<x2>,<y2>` x is longitude, y is latitude."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "bounded",
                        "description": "When a viewbox is given, restrict the result to items contained within that viewbox (see above). When `viewbox` and `bounded=1` are given, an amenity only search is allowed. Give the special keyword for the amenity in square brackets, e.g. `[pub]` and a selection of objects of this type is returned. There is no guarantee that the result is complete."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_geojson",
                        "description": "Output geometry of results as a GeoJSON."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_kml",
                        "description": "Output geometry of results as a KML."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_svg",
                        "description": "Output geometry of results as a SVG."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_text",
                        "description": "Output geometry of results as a WKT."
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0.0
                        },
                        "in": "query",
                        "name": "polygon_threshold",
                        "description": "Return a simplified version of the output geometry. The parameter is the tolerance in degrees with which the geometry may differ from the original geometry. Topology is preserved in the result."
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "email"
                        },
                        "in": "query",
                        "name": "email",
                        "description": "If you are making large numbers of request please include an appropriate email address to identify your requests. See Nominatim's [Usage Policy](https://operations.osmfoundation.org/policies/nominatim/) for more details."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "default": 1,
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "dedupe",
                        "description": "Sometimes you have several objects in OSM identifying the same place or object in reality. The simplest case is a street being split into many different OSM ways due to different characteristics. Nominatim will attempt to detect such duplicates and only return one match unless this parameter is set to 0."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "debug",
                        "description": "Output assorted developer debug information. Data on internals of Nominatim's Search Loop logic, and SQL queries. The output is (rough) HTML format. This overrides the specified machine readable format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/GeocodeJson"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Search"
                ]
            }
        },
        "/lookup": {
            "get": {
                "summary": "Query the address and other details of one or multiple OSM objects like node, way or relation.",
                "operationId": "lookup",
                "description": "Returns the details of an OSM object.",
                "parameters": [
                    {
                        "schema": {
                            "type": "string",
                            "pattern": "^([RWN][0-9]+,?)+$"
                        },
                        "in": "query",
                        "required": true,
                        "name": "osm_ids",
                        "description": "Comma-separated list of OSM ids each prefixed with its type, one of node(N), way(W) or relation(R). Up to 50 ids can be queried at the same time."
                    },
                    {
                        "schema": {
                            "type": "string",
                            "enum": [
                                "xml",
                                "json",
                                "jsonv2",
                                "geojson",
                                "geocodejson"
                            ],
                            "default": "geocodejson"
                        },
                        "in": "query",
                        "name": "format",
                        "description": "Format of response. See [Place Output Formats](https://nominatim.org/release-docs/develop/api/Output/) for details on each format."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "json_callback",
                        "description": "Wrap JSON output in a callback function (JSONP) i.e. <string>(<json>). Only has an effect for JSON output formats."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0,
                            "default": 1
                        },
                        "in": "query",
                        "name": "addressdetails",
                        "description": "Include a breakdown of the address into elements."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "extratags",
                        "description": "Include additional information in the result if available, e.g. wikipedia link, opening hours."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "namedetails",
                        "description": "Include a list of alternative names in the results. These may include language variants, references, operator and brand."
                    },
                    {
                        "schema": {
                            "type": "string"
                        },
                        "in": "query",
                        "name": "accept-language",
                        "description": "Preferred language order for showing search results, overrides the value specified in the [Accept-Language HTTP header](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language). Either use a standard RFC2616 accept-language string or a simple comma-separated list of language codes."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_geojson",
                        "description": "Output geometry of results as a GeoJSON."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_kml",
                        "description": "Output geometry of results as a KML."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_svg",
                        "description": "Output geometry of results as a SVG."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "polygon_text",
                        "description": "Output geometry of results as a WKT."
                    },
                    {
                        "schema": {
                            "type": "number",
                            "minimum": 0.0
                        },
                        "in": "query",
                        "name": "polygon_threshold",
                        "description": "Return a simplified version of the output geometry. The parameter is the tolerance in degrees with which the geometry may differ from the original geometry. Topology is preserved in the result."
                    },
                    {
                        "schema": {
                            "type": "string",
                            "format": "email"
                        },
                        "in": "query",
                        "name": "email",
                        "description": "If you are making large numbers of request please include an appropriate email address to identify your requests. See Nominatim's [Usage Policy](https://operations.osmfoundation.org/policies/nominatim/) for more details."
                    },
                    {
                        "schema": {
                            "type": "integer",
                            "maximum": 1,
                            "minimum": 0
                        },
                        "in": "query",
                        "name": "debug",
                        "description": "Output assorted developer debug information. Data on internals of Nominatim's Search Loop logic, and SQL queries. The output is (rough) HTML format. This overrides the specified machine readable format."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/GeocodeJson"
                                    }
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "Lookup"
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "BBox": {
                "type": "array",
                "minItems": 4,
                "items": {
                  "type": "number"
                }
            },
            "GeocodeJson": {
                "title": "GeocodeJSON schema",
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "enum": [
                            "FeatureCollection"
                        ]
                    },
                    "geocoding": {
                        "$ref": "#/components/schemas/GeocodeJsonMeta"
                    },
                    "features": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/GeocodeJsonFeature"
                        }
                    },
                    "bbox": {
                        "$ref": "#/components/schemas/BBox"
                    }
                },
                "required": [
                    "type",
                    "geocoding",
                    "features"
                ]
            },
            "GeocodeJsonMeta": {
                "type": "object",
                "properties": {
                    "version": {
                        "type": "string",
                        "pattern": "^(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
                    },
                    "licence": {
                        "type": "string"
                    },
                    "attribution": {
                        "type": "string"
                    },
                    "query": {
                        "type": "string"
                    }
                },
                "required": [
                    "version"
                ]
            },
            "GeocodeJsonFeature": {
                "type": "object",
                "properties": {
                    "type": {
                        "const": "string",
                        "enum": "Feature"
                    },
                    "id": {
                        "oneOf": [ { "type": "number" }, { "type": "string" } ]
                    },
                    "properties": {
                        "type": "object",
                        "properties": {
                            "geocoding": {
                                "$ref": "#/components/schemas/OSMFeatureMeta"
                            }
                        },
                        "required": [
                            "geocoding"
                        ]
                    },
                    "geometry": {
                        "$ref": "https://geojson.org/schema/Geometry.json"
                    },
                    "bbox": {
                        "$ref": "#/components/schemas/BBox"
                    }
                },
                "required": [
                    "type",
                    "properties",
                    "geometry"
                ]
            },
            "OSMFeatureMeta": {
                "type": "object",
                "allOf": [{ "$ref": "#/components/schemas/GeocodeJsonFeatureMeta" }],
                "properties": {
                    "osm_type": {
                        "type": "string",
                        "examples": [
                            "node",
                            "way",
                            "relation"
                        ]
                    },
                    "osm_id": {
                        "type": "integer"
                    },
                    "osm_key": {
                        "type": "string",
                        "examples": [
                            "boundary",
                            "highway",
                            "amenity"
                        ]
                    },
                    "osm_value": {
                        "type": "string",
                        "examples": [
                            "residential",
                            "restaurant"
                        ]
                    }
                }
            },
            "GeocodeJsonFeatureMeta": {
                "type": "object",
                "properties": {
                    "type": {
                        "type": "string",
                        "examples": [
                            "house",
                            "street",
                            "district",
                            "city",
                            "county",
                            "state",
                            "country",
                            "locality"
                        ]
                    },
                    "accuracy": {
                        "type": "integer",
                        "minimum": 0
                    },
                    "label": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "housenumber": {
                        "type": "string"
                    },
                    "street": {
                        "type": "string"
                    },
                    "locality": {
                        "type": "string"
                    },
                    "postcode": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "county": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "admin": {
                        "type": "object",
                        "properties": {
                            "level2": { "type": "string" },
                            "level3": { "type": "string" },
                            "level4": { "type": "string" },
                            "level5": { "type": "string" },
                            "level6": { "type": "string" },
                            "level7": { "type": "string" },
                            "level8": { "type": "string" },
                            "level9": { "type": "string" },
                            "level10": { "type": "string" },
                            "level11": { "type": "string" }
                        }
                    },
                    "geohash": {
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]+(:.+)?$"
                    }
                },
                "required": [
                    "type"
                ]
            }
        }
    }
}